<!DOCTYPE html>
<html>

<head>
  <title><%
    if (typeof error !== 'undefined') { 
      %><%= error.status %> Error<% 
    } else if (typeof title !== 'undefined') {
      %><%= title %><% 
    } 
  %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>